@page "/transactions/list"
@attribute [Authorize]

<PageTitle>Transactions List</PageTitle>

<ConfirmationDialog IsVisible="@isConfirmationDialogVisible"
                    OnConfirm="DeleteConfirmed"
                    Title="Delete Transaction Confirmation"
                    Message="@deleteMessage" />
@if (HasAccess)
{
    <h3>Transactions List</h3>

    @if (transactions == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Ref#</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Customer</th>
                    <th>Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var transaction in transactions)
                {
                    <!--<tr @onclick="() => ToggleDetails(transaction)" class="@(selectedTransaction != null && selectedTransaction.Id == transaction.Id ? "alert-info" : "")">-->
                    <tr class="@(selectedTransaction != null && selectedTransaction.Id == transaction.Id ? "alert-info" : "")">
                        <td>@transaction.Id</td>
                        <td>@transaction.Date</td>
                        <td>@transaction.Description</td>
                        @if (transaction.Customer != null)
                        {
                            <td>@transaction.Customer.Name</td>
                        }
                        else
                        {
                            <td>---</td>   
                        }
                        <td>@transaction.TransactionType.Name</td>
                        <td>
                            <button class="btn btn-info btn-sm"
                                    @onclick:stopPropagation
                                    @onclick="() => ToggleDetails(transaction)"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Details"
                                    disabled="@DesiableButtons">
                                <i class="oi oi-eye"></i>
                            </button>
                            <button class="btn btn-primary btn-sm"
                                    @onclick="() => EditTransaction(transaction)"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Edit"
                                    disabled="@DesiableButtons">
                                <i class="oi oi-pencil"></i>
                            </button>
                            <button class="btn btn-danger btn-sm"
                                    @onclick="() => ShowConfirmationDialog(transaction)"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Delete"
                                    disabled="@DesiableButtons">
                                <i class="oi oi-trash"></i>
                            </button>
                        </td>
                    </tr>
                    @if (selectedTransaction != null && selectedTransaction.Id == transaction.Id)
                    {
                        <tr>
                            <td colspan="5">
                                <!-- Set colspan to match the number of columns in your table -->
                                <TransactionsDetailsList TransactionDetails="@transactionDetails" HasDelete="false" />
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}
else
{
    <p>Access denied! You don't have permission to view this page.</p>
}



@using Bookkeepify.Models
@using Bookkeepify.Services
@inject TransactionService TransactionService
@inject TransactionDetailService TransactionDetailService
@inject AuthorizationService AuthorizationService
@inject AuthenticationStateProvider AuthenticationStateProvider


@code {
    [Parameter]
    public EventCallback<Transaction> OnEdit { get; set; }
    [Parameter]
    public Boolean DesiableButtons { get; set; }

    private bool HasAccess { get; set; } = false;

    private List<Transaction> transactions;
    private List<TransactionDetail> transactionDetails;
    private Transaction selectedTransaction;
    private bool isConfirmationDialogVisible = false;
    private string deleteMessage = "";

    protected override async Task OnInitializedAsync()
    {
        if (DesiableButtons == null)
        {
            DesiableButtons = false;
        }
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        HasAccess = await AuthorizationService.CheckPageAccessAsync(authState);
        await RefreshTransactions();
    }

    private async void EditTransaction(Transaction transaction)
    {
        await OnEdit.InvokeAsync(transaction);
    }

    private async Task ShowConfirmationDialog(Transaction transaction)
    {
        if (transaction != null)
        {
            deleteMessage = $"Are you sure you want to delete '<strong>{transaction.Id}-{transaction.Description}</strong>' ?";
            selectedTransaction = transaction;
            transactionDetails = await TransactionDetailService.GetTransactionDetailsAsync(transaction.Id);
            isConfirmationDialogVisible = true;
        }
    }

    private async Task DeleteConfirmed(bool isConfirmed)
    {
        isConfirmationDialogVisible = false;

        if (isConfirmed)
        {
            await TransactionDetailService.DeleteTransactionDetailsAsync(selectedTransaction.Id);
            await TransactionService.DeleteTransactionAsync(selectedTransaction.Id);
            await RefreshTransactions(); // Refresh transaction list after deletion
            deleteMessage = "";
        }
        selectedTransaction = null;
        transactionDetails = null;
    }

    private async Task ToggleDetails(Transaction transaction)
    {
        if (selectedTransaction != null && selectedTransaction.Id == transaction.Id)
        {
            selectedTransaction = null; // Hide details if already selected
        }
        else
        {
            selectedTransaction = transaction; // Show details for selected transaction
            transactionDetails = await TransactionDetailService.GetTransactionDetailsAsync(transaction.Id);
        }
    }
    public async Task RefreshTransactions()
    {
        transactions = await TransactionService.GetTransactionsAsync();
    }

}
