@page "/transactions/list"
@attribute [Authorize]

<PageTitle>Transactions List</PageTitle>

<ConfirmationDialog IsVisible="@isConfirmationDialogVisible"
                    OnConfirm="DeleteConfirmed"
                    Title="Delete Transaction Confirmation"
                    Message="@deleteMessage" />
@if (HasAccess)
{
    <h3>Transactions List</h3>

    @if (transactions == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Ref#</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var transaction in transactions)
                {
                    <tr>
                        <td>@transaction.Id</td>
                        <td>@transaction.Date</td>
                        <td>@transaction.Description</td>
                        <td>@transaction.TransactionType.Name</td>
                        <td>
                            <button class="btn btn-primary btn-sm"
                                    @onclick="() => EditTransaction(transaction)"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Edit"
                                    disabled="@DesiableButtons">
                                <i class="oi oi-pencil"></i>
                            </button>
                            <button class="btn btn-danger btn-sm"
                                    @onclick="() => ShowConfirmationDialog(transaction)"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Delete"
                                    disabled="@DesiableButtons">
                                <i class="oi oi-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
else
{
    <p>Access denied! You don't have permission to view this page.</p>
}



@using Bookkeepify.Models
@using Bookkeepify.Services
@inject TransactionService TransactionService
@inject TransactionDetailService TransactionDetailService
@inject AuthorizationService AuthorizationService
@inject AuthenticationStateProvider AuthenticationStateProvider

@code {
    [Parameter]
    public EventCallback<Transaction> OnEdit { get; set; }
    [Parameter]
    public Boolean DesiableButtons { get; set; }

    private bool HasAccess { get; set; } = false;

    private List<Transaction> transactions;
    private Transaction selectedTransaction;
    private bool isConfirmationDialogVisible = false;
    private string deleteMessage = "";

    protected override async Task OnInitializedAsync()
    {
        if (DesiableButtons == null)
        {
            DesiableButtons = false;
        }
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        HasAccess = await AuthorizationService.CheckPageAccessAsync(authState);
        await RefreshTransactions();
    }

    private async void EditTransaction(Transaction transaction)
    {
        await OnEdit.InvokeAsync(transaction);
    }

    private void ShowConfirmationDialog(Transaction transaction)
    {
        if (transaction != null)
        {
            deleteMessage = $"Are you sure you want to delete '<strong>{selectedTransaction.Id}-{selectedTransaction.Description}</strong>' ?";
            selectedTransaction = transaction;
            isConfirmationDialogVisible = true;
        }
    }

    private async Task DeleteConfirmed(bool isConfirmed)
    {
        isConfirmationDialogVisible = false;

        if (isConfirmed)
        {
            await TransactionDetailService.DeleteTransactionDetailsAsync(selectedTransaction.Id);
            await TransactionService.DeleteTransactionAsync(selectedTransaction.Id);
            await RefreshTransactions(); // Refresh transaction list after deletion
            deleteMessage = "";
        }
    }

    public async Task RefreshTransactions()
    {
        transactions = await TransactionService.GetTransactionsAsync();
    }

}
